/*

  Styles propres à l'application
  
*/

section#interactive_section {
  position: fixed;
  top: 50%;
  display: block;
  margin-left: 10%;
  width: calc(80% - 40px);
  height: 45%;
  overflow: auto;
}

div#score_container {
  width: 90%;
  max-height: 500px;
  height: 500px;
  border: 1px dashed red;
  overflow: auto;
  margin: 1em;
}
img#score {
  width: 100%;
}

div#options {
  margin: 1em 0;
}
div#options table#table_options {}
div#options table#table_options td {padding: 0.3em}

.libelle {
  margin-right: 0.2em;
  color: #999;
}


div#main_onglets {
  margin: 1em;

}
div#main_onglets button {
  width: 120px;
  border: none;
}

div.panneau {
  border: 1px solid #CCC;
  padding: 1em;
  border-radius: 0.6em;
}
div.panneau > div {
  margin-top: 1em;
}
